
  .section_heading {
    padding: 10px 30px 30px;
    background-color: white;
  }
  
  .title_heading {
    padding: 1rem 2rem;
    background: radial-gradient(circle at 10% 20%, rgb(7, 121, 222) 0%, rgb(20, 72, 140) 90%);
    margin-left: -3rem;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    color: white;
    position: relative;
    filter: drop-shadow(8px 8px 8px rgba(0, 0, 0, .3));
    font-size: 1.5rem !important;
    width: 550px;
  }
  
  .title_heading::after {
    content: "";
    position: absolute;
    width: 1rem;
    height: 1rem;
    background-color: #2B5C96;
    left: 0;
    bottom: -1rem;
    clip-path: polygon(
      0% 0%,
      100% 0%,
      100% 100%,
      0% 0%
    );
  }
  
.text-content{
    text-align: justify;
    padding: 0 15px;
    line-height: 28px;
}
.s_img_header{
    margin-top: 25px;
    color: #1050a2;
}
.s_imgBox{
    margin-top: 10px;
}
.s_img{
    width: 400px;
}
.table-div{
  margin-top: 30px;
	overflow-x: auto; 
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  border-radius: 10px;
}
.row-content{
    margin: 50px 0px;
}
.content-heading{
    margin-top: 30px;
    font-style: italic;
    color: #1050a2;
}
.content-table {
	border-collapse: collapse;
	min-width: 400px;
	border-radius: 10px;
	overflow: hidden;
	box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.content-table thead tr {
	background-color: #1050a2;
	color: #ffffff;
	text-align: left;
	font-weight: bold;
}

.content-table th,
.content-table td {
	padding: 12px;
	border: 1px solid #D3D3D3;
	line-height: 25px !important;
  font-size: 15px !important;
  text-align: center;
}
.content-table tbody tr p {
	line-height: 22px !important;
}
.content-table tbody tr:nth-of-type(even) {
	background-color: #E1EBEE;
}

.text-desc{
  text-align: justify;
  line-height: 28px;
}
.content-table-link{
    text-decoration: none;
    color: #000;
}
.accordion-button{
    box-shadow: none !important;
}

@media only screen and (max-width: 767px) {
  .title_heading{
    width: auto ;
    font-size: 18px !important;
    margin-left: -2.5rem;
  }
}
